.axis line,.axis path {
  fill: none;
  stroke: lightgrey;
}
 
rect.background {
  fill: transparent;
}
 
.resize rect {
  fill: rgba(0,0,0,0.1);
}
 
rect.extent {
  fill: rgba(255,255,255,0.25);
  stroke: rgba(0,0,0,0.6);
}